<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maquetación con CSS Grid</title>
    <link rel="stylesheet" href="../assets/css/ej-css-grid.css" />
  </head>
  <body>
    <div id="container-grid">
      <header>HEADER</header>
      <nav>NAVBAR</nav>
      <main>MAIN</main>
      <aside>SIDEBAR</aside>
      <footer>FOOTER</footer>
    </div>
    <script
      src="https://kit.fontawesome.com/6131ecdde6.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
